@{
	ViewData["Title"] = "Calendar";
}

<script>
	function showIframe(img, url) {
		var container = img.parentElement;
		var iframe = document.createElement("iframe");

		iframe.src = url;
		iframe.allowFullscreen = true;

		container.removeChild(img);
		container.appendChild(iframe);
	}
</script>

<div class="container">
	<h1 class="mb-5" style="color: cornflowerblue;"><b>Calendar NASA Image</b></h1>
	<div class="row" id="apod-container">
		<div class="col-2">
		<input class="form-control mb-3" type="date" onchange="handleKeyDown(event)" />
		</div>
		<h1 id="apod-title"></h1>
		<h5 class="mb-3" id="apod-date"></h5>
		<hr />
		<h5 class="mb-3" id="apod-content"></h5>
		<div id="apod-img">
		</div>

	</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	function handleKeyDown(event) {
		const date = event.target.value
		$(document).ready(function () {
			$.ajax({
				url: "https://api.nasa.gov/planetary/apod",
				method: "GET",
				data: {
					api_key: "qGLChofuLpstXN2oFvwUGl7nmIdKmRMSy3sEiLuR",
					date: date,
				},
				success: function (result) {
					console.log(event.target.value)
					$("#apod-title").empty()
					$("#apod-date").empty()
					$("#apod-content").empty()
					$("#apod-img").empty()

					$("#apod-title").append(result.title)
					$("#apod-date").append(result.date)
					$("#apod-content").append(result.explanation)

					var img = '<img src="' + result.hdurl + '" class="card-img-top"' +
						'onerror="showIframe(this, \'' + result.url + '\')"/>'

					$("#apod-img").append(img)
				},
				error: function (error) {
					alert("Please enter the NUMBER")
				}

			})
		})

		console.log("123456")
	}
</script>
